.radio-group {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    &__radio {
        box-sizing: border-box;
        display: flex;
        width: 210px;
        text-align: left;
        padding: 14px;
        border: 2px solid #ddd;
        border-radius: 10px;
        margin: 5px;
        position: relative;

        &--checked {
            border: 2px solid #2462d1;

            &::before {
                position: absolute;
                bottom: -7px;
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-left: 2px solid #2462d1;
                border-bottom: 2px solid #2462d1;
                transform: rotate(-45deg);
                left: calc(50% - 5px);
                background-color: #fff;
            }
        }

        &:hover:not(.radio-group__radio--checked) {
            background-color: #edf2f7;
        }

    }

    &__input {
        appearance: none;
        border: 2px solid #cbd5e0;
        width: 17px;
        height: 17px;
        content: none;
        margin: 0;
        border-radius: 5px;

        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='3 2 15 15'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
            background-color: #2462d1;
            border-color: #2462d1;
        }

        &:hover {
            cursor: pointer;

            &:not(:checked) {
                background-color: #e2e8f0;
                transition: background-color ease-in-out .15s;
            }
        }
    }

    &__label {
        padding-left: 10px;
        line-height: 1;
        font-weight: 600;
    }
}

.cards {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 5px;

    &__card {
        width: 220px;
        background: linear-gradient(#f2f7fa 50%, #f2f7fa, #fff 80%);
        border-radius: 15px;
        margin: 0 7px;
        color: #4a5568;

        &__header {
            font-weight: bold;
            padding: 12px;
            text-align: left;
        }

        &__icon {
            height: 22px;
            margin: 0 12px;
            border-radius: 10px;
            width: 50%;
            position: relative;
            background-color: #e2e8f0;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                height: 100%;
                border-radius: 10px;
                width: 40%;
                background-color: #cbd5e0;
            }
        }

        &__content {
            height: 170px;
            border: 1px solid #e2e8f0;
            margin: 10px 5px;
            border-radius: 10px;
        }
    }
}


.cards__card--purple {
    background: linear-gradient(#f7f1ff 50%, #f7f1ff, #fff 80%);

    .cards__card__header {
        color: #56527a;
    }

    .cards__card__icon {
        background-color: #e9d9ff;

        &::before {
            background-color: #dabfff;
        }
    }

    .cards__card__content {
        border-color: #e9d9ff;
    }
}

.cards__card--yellow {
    background: linear-gradient(#fef6ef 50%, #fef6ef, #fff 80%);

    .cards__card__header {
        color: #684422;
    }

    .cards__card__icon {
        background-color: #ffe4cc;

        &::before {
            background-color: #ffd6b3;
        }
    }

    .cards__card__content {
        border-color: #ffe4cc;
    }
}

.cards__card--blue {
    background: linear-gradient(#e6f4ff 50%, #e6f4ff, #fff 80%);

    .cards__card__header {
        color: #003a66;
    }

    .cards__card__icon {
        background-color: #bfe3ff;

        &::before {
            background-color: #99d1ff;
        }
    }

    .cards__card__content {
        border-color: #bfe3ff;
    }
}

.cards__card--green {
    background: linear-gradient(#def5f7 50%, #def5f7, #fff 80%);

    .cards__card__header {
        color: #684422;
    }

    .cards__card__icon {
        background-color: #aaecf2;

        &::before {
            background-color: #81dde5;
        }
    }

    .cards__card__content {
        border-color: #aaecf2;
    }
}

.cards__card--red {
    background: linear-gradient(#fff2f6 50%, #fff2f6, #fff 80%);

    .cards__card__header {
        color: #773a47;
    }

    .cards__card__icon {
        background-color: #ffd9e4;

        &::before {
            background-color: #ffbfd2;
        }
    }

    .cards__card__content {
        border-color: #ffd9e4;
    }
}