.cards {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 5px;

  &__card {
    width: 222px;
    background: linear-gradient(#f2f7fa 50%, #f2f7fa, #fff 80%);
    border-radius: 15px;
    margin: 0 7px;
    color: #4a5568;

    &__header {
      font-weight: bold;
      padding: 13px;
      text-align: left;
    }

    &__icon {
      height: 22px;
      margin: 0 12px;
      border-radius: 10px;
      width: 52%;
      position: relative;
      background-color: #e2e8f0;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        border-radius: 10px;
        width: 37%;
        background-color: #cbd5e0;
      }
    }

    &__content {
      box-sizing: border-box;
      height: 175px;
      border: 1px solid #e2e8f0;
      margin: 10px 5px;
      border-radius: 10px;
    }
  }
}


.cards__card--purple {
  background: linear-gradient(#f7f1ff 50%, #f7f1ff, #fff 80%);

  .cards__card__header {
    color: #56527a;
  }

  .cards__card__icon {
    background-color: #e9d9ff;

    &::before {
      background-color: #dabfff;
    }
  }

  .cards__card__content {
    border-color: #e9d9ff;
  }
}

.cards__card--yellow {
  background: linear-gradient(#fef6ef 50%, #fef6ef, #fff 80%);

  .cards__card__header {
    color: #684422;
  }

  .cards__card__icon {
    background-color: #ffe4cc;

    &::before {
      background-color: #ffd6b3;
    }
  }

  .cards__card__content {
    border-color: #ffe4cc;
  }
}

.cards__card--blue {
  background: linear-gradient(#e6f4ff 50%, #e6f4ff, #fff 80%);

  .cards__card__header {
    color: #003a66;
  }

  .cards__card__icon {
    background-color: #bfe3ff;

    &::before {
      background-color: #99d1ff;
    }
  }

  .cards__card__content {
    border-color: #bfe3ff;
  }
}

.cards__card--green {
  background: linear-gradient(#def5f7 50%, #def5f7, #fff 80%);

  .cards__card__header {
    color: #684422;
  }

  .cards__card__icon {
    background-color: #aaecf2;

    &::before {
      background-color: #81dde5;
    }
  }

  .cards__card__content {
    border-color: #aaecf2;
  }
}

.cards__card--red {
  background: linear-gradient(#fff2f6 50%, #fff2f6, #fff 80%);

  .cards__card__header {
    color: #773a47;
  }

  .cards__card__icon {
    background-color: #ffd9e4;

    &::before {
      background-color: #ffbfd2;
    }
  }

  .cards__card__content {
    border-color: #ffd9e4;
  }
}