.page {
  background-color: #edf2f7;
  display: flex;
  flex-flow: column;

  &__header {
    display: flex;
    flex-flow: row;
    flex: 0 1 auto;
    padding-top: 20px;

    &__logo {
      padding-left: 30px;
      display: flex;
      align-items: center;
      min-width: 125px;
      box-sizing: border-box;

      &__anchor {
        background-image: url('logo.svg');
        width: 38px;
        height: 38px;
      }
    }

    &__nav {
      width: 100%;
    }

    &__btn {
      padding-right: 40px;
      display: flex;
      align-items: center;
      min-width: 125px;
      box-sizing: border-box;
      flex-flow: row-reverse;
    }
  }

  &__body {
    background-color: #fff;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
    flex: 1 1 auto;
  }
}

.button {
  transition: background-color ease-in-out .15s;
  background-color: #2462d1;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  line-height: 1.2;

  &:hover {
    background-color: #2357b1;
  }

  &:disabled {
    transition: none;
    background-color: #ccc;
    border-color: #aaa;
  }
}