<div class="page">
    <header class="page__header">
        <div class="page__header__logo">
            <a class="page__header__logo__anchor" href="https://www.projectmark.com/" target="_blank"></a>
        </div>
        <div class="page__header__nav">
            <app-navigation [items]="items"></app-navigation>
        </div>
        <div class="page__header__btn">
            <button class="button" (click)="onNext()">Next</button>
        </div>
    </header>
    <section class="page__body">
        <router-outlet></router-outlet>
    </section>
</div>
