<div class="page">
    <header class="page__header">
        <div class="page__header__logo">
            <a class="page__header__logo__anchor" href="https://www.projectmark.com/" target="_blank"></a>
        </div>
        <div class="page__header__nav">
            <app-navigation [steps]="steps"></app-navigation>
        </div>
        <div class="page__header__btn">
            <button class="button" (click)="onNext()" [disabled]="done">Next</button>
        </div>
    </header>
    <section class="page__body">
        <app-settings-sales *ngIf="currentStep.name === NavigationStepName.STEP_1"></app-settings-sales>
        <app-settings-opportunity *ngIf="currentStep.name === NavigationStepName.STEP_2"></app-settings-opportunity>
    </section>
</div>
