.radio-group {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  &__radio {
    box-sizing: border-box;
    display: flex;
    width: 210px;
    padding-left: 14px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    height: 50px;
    align-items: center;
    justify-content: start;

    &--checked {
      border: 2px solid #2462d1;

      &::before {
        position: absolute;
        bottom: -7px;
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-left: 2px solid #2462d1;
        border-bottom: 2px solid #2462d1;
        transform: rotate(-45deg);
        left: calc(50% - 5px);
        background-color: #fff;
      }
    }

    &:hover:not(.radio-group__radio--checked) {
      background-color: #edf2f7;
    }

  }

  &__input {
    appearance: none;
    border: 2px solid #cbd5e0;
    width: 17px;
    height: 17px;
    content: none;
    margin: 0;
    border-radius: 5px;

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='3 2 15 15'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      background-color: #2462d1;
      border-color: #2462d1;
      transition: background-color ease-in-out .15s, background-image ease-in-out .15s, border-color ease-in-out .15s;
    }

    &:hover {
      cursor: pointer;

      &:not(:checked) {
        background-color: #e2e8f0;
        transition: background-color ease-in-out .15s;
      }
    }
  }

  &__label {
    padding-left: 10px;
    line-height: 1;
    font-weight: 600;
  }
}