.nav {
    width: 100%;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        &__item {
            display: inline-block;
            width: 125px;
            margin: 0 15px;

            &__step {
                display: inline-flex;
                border: 1px solid #d3deea;
                background-color: #fff;
                border-radius: 15px;
                color: #365374;
                font-size: 16px;
                cursor: default;
                box-sizing: border-box;
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
            }

            &__desc {
                display: block;
                font-size: 10px;
                padding-top: 4px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &--selected {
                .nav__list__item__step {
                    background-color: #2d3748;
                    border-color: #2d3748;
                    color: #fafafa;
                }
            }
        }
    }

    &__btn {
        padding-right: 40px;
        display: flex;
        align-items: center;
        min-width: 125px;
        box-sizing: border-box;
        flex-flow: row-reverse;
    }
}