/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

html,
body {
    height: 100%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
}

.settings-page {
    display: flex;
    flex-flow: column;
    height: 100%;
    text-align: center;

    &__title {
        margin: 40px 0;
        font-size: 26px;
    }
}